In [1]:
import pandas as pd
from changecapture import ChangeCapture

SOURCE = 'SYSTEM-01'
KEYS = ['policyID']

curr_df = pd.read_csv('../data/curr.csv', dtype=str, sep=',')
curr_df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960,498960,498960,498960,498960,792148.9,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.4,190724.4,192476.78,0,0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0,79520.76,0,0,79520.76,86854.48,0,0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0,254281.5,0,254281.5,254281.5,246144.49,0,0,0,0,30.060614,-81.702675,Residential,Wood,1

In [2]:
#
last_df = None
try:
    last_df = pd.read_csv('../data/last.csv', dtype=str, sep=',')
except:
    last_df = pd.DataFrame(columns=curr_df.columns.tolist(), dtype=str,)
    
last_df.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960,498960,498960,498960,498960,792148.9,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.4,190724.4,192476.78,0,0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0,79520.76,0,0,79520.76,86854.48,0,0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0,254281.5,0,254281.5,254281.5,246144.49,0,0,0,0,30.060614,-81.702675,Residential,Wood,1

In [3]:
ChangeCapture.get_wide_inserts_df(curr_df.copy(), last_df.copy(), KEYS, SOURCE)

Empty DataFrame
Columns: [policyID, statecode, county, eq_site_limit, hu_site_limit, fl_site_limit, fr_site_limit, tiv_2011, tiv_2012, eq_site_deductible, hu_site_deductible, fl_site_deductible, fr_site_deductible, point_latitude, point_longitude, line, construction, point_granularity, capture_type, capture_source, capture_datetime]
Index: []

[0 rows x 21 columns]

In [4]:
ChangeCapture.get_long_inserts_df(curr_df.copy(), last_df.copy(), KEYS, SOURCE)

Empty DataFrame
Columns: [policyID, column_name, value_stored, capture_type, capture_source, capture_datetime]
Index: []

In [5]:
ChangeCapture.get_wide_deletes_df(curr_df.copy(), last_df.copy(), KEYS, SOURCE)

Empty DataFrame
Columns: [policyID, statecode, county, eq_site_limit, hu_site_limit, fl_site_limit, fr_site_limit, tiv_2011, tiv_2012, eq_site_deductible, hu_site_deductible, fl_site_deductible, fr_site_deductible, point_latitude, point_longitude, line, construction, point_granularity, capture_type, capture_source, capture_datetime]
Index: []

[0 rows x 21 columns]

In [6]:
ChangeCapture.get_long_deletes_df(curr_df.copy(), last_df.copy(), KEYS, SOURCE)

Empty DataFrame
Columns: [policyID, column_name, value_stored, capture_type, capture_source, capture_datetime]
Index: []

In [7]:
ChangeCapture.get_wide_updates_df(curr_df.copy(), last_df.copy(), KEYS, SOURCE)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,...,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity,capture_type,capture_source,capture_datetime
0,633663,FL,CLAY COUNTY,0,785.58,0,0,785.58,662.18,0,...,0,0,30.068468,-81.71624,Residential,Rubber,1,UPDATE,SYSTEM-01,2022-01-13 08:07:58

In [8]:
ChangeCapture.get_long_updates_df(curr_df.copy(), last_df.copy(), KEYS, SOURCE)

,policyID,column_name,value_stored,capture_type,capture_source,capture_datetime
0,633663,construction,Rubber,UPDATE,SYSTEM-01,2022-01-13 08:07:58

In [9]:
ChangeCapture.has_changed(curr_df, last_df)

True

In [10]:
curr_df.to_csv('../data/last.csv', index=False, sep=',')